.adminContainer{
  width: 80%;
  margin: 0 auto 2rem auto;
  button{
    display: block;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        font-weight: bold;
    }
  }
  button, input{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 35px;
    margin-top: 16px;
    font-family: $primaryFont;
  }

  .tasks{
    background: $primaryDark;
    color: white;
    height: 100px;
    overflow-y: scroll;

    .tasksList{
      li{
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .adminPointsBtns{
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    button{
      border: none;
      background: transparent;
      font-size: 2rem;
    }
  }
}

 

@media screen and (min-width: 768px){
  .adminFlex{
    display: flex;
    justify-content: space-between;

    .flexDiv{
      width: 40%;
    }

    h2{
      margin-bottom: 35px;
    }
  }
}