body {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(247, 247, 247, 0.73)),
        url('/light-wood-floor.jpg');
    //cred backgroundImg: <a href="https://www.freepik.com/free-photo/light-wood-floor_4413661.htm#query=light%20wood&position=8&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik 
}