header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: $primaryLight;
    background: rgb(45,128,120);
    background: linear-gradient(124deg, rgba(45,128,120,1) 19%, rgba(38,101,101,1) 35%, rgba(28,64,76,1) 100%);
    margin: 0;

    h1 {
        margin: 0;
        font-weight: 100;
        font-style: italic;
        font-size: 2rem;
        text-align: left;
        font-family: $secondaryFont;
        text-shadow: $primaryDark 4px 0 10px;
    }

    button {
        cursor: pointer;
        width: 200px;
        height: 50px;
        text-transform: uppercase;

        &:hover {
            font-weight: bold;
        }
    }

    .user-name {
        font-family: $primaryFont;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
        font-style: normal;
    }

    .user-admin {
        font-size: 1rem;
        font-style: normal;
        text-shadow: $primaryDark 4px 0 10px;
    }

}