body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: lightgray;
    margin: 0;

    h1 {
        margin: 0;
        font-weight: 100;
        font-style: italic;

    }

    button {
        width: 175px;
        text-transform: uppercase;


    }
}