header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  color: whitesmoke;
  background: rgb(45, 128, 120);
  background: linear-gradient(124deg, rgba(45, 128, 120, 1) 19%, rgba(38, 101, 101, 1) 35%, rgba(28, 64, 76, 1) 100%);
  margin: 0;

  h2 {
    margin: 0 0 1rem 2rem;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    font-family: $secondaryFont;
    text-shadow: $primaryDark 4px 0 10px;
  }

  button {
    cursor: pointer;
    width: 155px;
    height: 35px;
    text-transform: uppercase;
    margin: 0 0 0 2rem;
    padding: 0;
    border-radius: 0;
    border: 1px solid $primaryDark;

    &:hover {
      font-weight: bold;
    }
  }

  .user-name {
    font-family: $primaryFont;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: normal;
    color: $primaryLight
  }

  .user-admin {
    font-size: 1rem;
    font-style: normal;
    text-shadow: $primaryDark 4px 0 10px;
  }

}

@media screen and (min-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;

  }

}