$primaryLight:#F4D9AE;
$secondaryLight:#DE9E46;
$primaryDark: #1C404C;
$secondaryDark: #2D8078;
$accessoryColor: #CD4F41;

$primaryFont: 'Krub', sans-serif;
$secondaryFont: 'Chivo', sans-serif;

*, *:before, *:after {
    box-sizing: border-box;
  }